<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Nearby ArtStops</title>
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
    </head>
<body>
    <h1 class="title">Nearby ArtStops</h1>
    {% if stops %}
    <table class="table">
    {% for stop in stops %}
        <tr>
        <th>{{ stop.name }}</th>
        <td>{{stop.distance}}</td>
    {% endfor %}
    </table>
    {% endif %}
</body>
</html>