{% extends "stops/base.html" %}
{% block content %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
<div>
    <h1>{{ object.name }}</h1>
    {% leaflet_map "main" callback="map_init" %}
</div>

<script type="text/javascript">
    function map_init(map, options) {
        // get point lat and lon
        var lon = "{{ object.location.x }}";
        var lat = "{{ object.location.y }}";
        // zoom to point & add it to map
        map.setView([lat, lon], 12);
        L.marker([lat, lon]).addTo(map);
        L.marker([navigator.geolocation.getCurrentPosition(showPosition).lat,navigator.geolocation.getCurrentPosition(showPosition).lon]).addTo(map);
    }
    function showPosition(position){
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        return lat, lon;
    }
</script>
  <article class="media content-section">
    <!-- <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}"> -->
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ object.address }}</small>
      </div>
      <h2 class="article-title">{{ object.name }}</h2>
      <p class="article-content">{{ object.city }}</p>
      <div class="field">
        <label for="vote" class="label">Vote this place: </label>
        <div class="control">
          <input type="radio" id="vote5" name="rate" value="5" />
          <label for="vote5" title="text">5</label>
          <input type="radio" id="vote4" name="rate" value="4" />
          <label for="vote4" title="text">4</label>
          <input type="radio" id="vote3" name="rate" value="3" />
          <label for="vote3" title="text">3</label>
          <input type="radio" id="vote2" name="rate" value="2" />
          <label for="vote2" title="text">2</label>
          <input type="radio" id="vote1" name="rate" value="1" />
          <label for="vote1" title="text">1</label>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Submit!</button>
        </div>
      </div>
    </div>
    
  </article>
{% endblock content %}
